.footer-area {
  background: #000;
  padding: 60px 0;
  color: #fff;
  font-family: sans-serif;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.footer-box h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin: 10px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-box ul li i {
  color: #FDC830;
}

.footer-box ul li:hover {
  color: #FDC830;
}

.social-links a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  background: #121212;
  font-size: 18px;
  transition: 0.3s;
}

.social-links a:hover {
  background: #FDC830;
  color: #000;
}

.newsletter form {
  margin-top: 15px;
  display: flex;
}

.newsletter input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 6px 0 0 6px;
}

.newsletter button {
  padding: 12px 20px;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  font-weight: bold;
}

.footer-copy {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  background: #000;
  margin-top: 40px;
}
.borderd-icon-1{
  color: #FDC830;
  text-decoration: none;
}
.borderd-icon-1:hover{
  color: #fff;
}
a{
  text-decoration: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer-area {
  padding: 60px 20px; 
}

@media (max-width: 576px) {
  .footer-content {
    gap: 30px; 
  }
}

div .footer-box a{
  text-decoration: none;
  color: #fff;
}

div .footer-box a:hover{
  color: #FDC830;
}

.footer-bottom{
  background-image: url(/image/footer.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px;
}